body {
    position: relative;
    background-color: whitesmoke;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.pin-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 50px;
}

.pin-input {
    padding: 0px;
    min-width: 600px;
}

.upgradeable {
    font-size: 10px;
}

.pin-name {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 250px;
}

div.pin-progress {
    min-width: 600px;
}

span.pin-progress {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    min-width: 100px;
}

input {
    border: 2px solid #8842d5;
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
    width: 80px;
    text-align: right;
    margin-left: 10px;
    margin-right: 20px;
}

div.override {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 80%;
}

div.override input {
    width: 160px;
}

div.override label {
    display: inline-block;
    width: 200px;
    padding: 10px;
}

.menu {
    position: fixed;
    background-color: darkgrey;
    font-size: 25px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}

.menu > ul {
    list-style: none;
    padding: 0px;
}

li {
    margin: 5px;
}

li {
    border: solid 2px black;
    border-radius: 5px;
}

li.selected {
    border: solid 1px whitesmoke;
    background-color: black;
    color: whitesmoke;
}

.menu + .container {
    padding-top: 160px;
}

.menu >span {
    margin: 10px;
}

.path-header {
    font-size: 20px;
}

.path-row {
    font-size: 10px;
    margin-right: 10px;
    font-weight: bold;
    min-width: 200px;
}

.red {
    color: #600000;
}

.green {
    color: #006000;
}

.other-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
}

.other-inputs >span {
    padding: 10px;
}

.start-date >input {
    min-width: 180px;
}

.coins >input {
    min-width: 120px;
}

.crystals >input {
    min-width: 120px;
}

.stats {
    width: 80%;
}

.missing {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}