body {
    position: relative;
    background-color: whitesmoke;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    font-size: 20px;
    text-shadow: 5px 5px 10px black;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.pin-inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 60%;
}

.pin-input {
    padding: 0px;
    min-width: 600px;
}

.upgradeable {
    font-size: 10px;
}

.pin-name {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 250px;
}

div.pin-progress {
    min-width: 600px;
}

span.pin-progress {
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    min-width: 100px;
}

input {
    border: 2px solid #8842d5;
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
    width: 80px;
    text-align: right;
    margin-left: 10px;
    margin-right: 20px;
}

.total-progress {
    position: fixed;
    background-color: darkgrey;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}

.container::before {
    position: fixed;
    content: "DEPRESSIFIER";
    text-align: center;
    font-size: 50px;
    opacity: 0.10;
    letter-spacing: 100px;
    color: lightgrey;
    z-index:1;
    top: 0;
    left: 0;
    right: 0;
}

.total-progress + .other-inputs {
    padding-top: 100px;
}

.total-progress >span {
    margin: 10px;
}

.estimates {
    width: 20%;
}

.path-header {
    font-size: 20px;
}

.path-row {
    font-size: 10px;
    margin-right: 10px;
    font-weight: bold;
    min-width: 200px;
}

.other-inputs {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 80%;
    padding-bottom: 50px;
}

.other-inputs >span {
    padding: 10px;
}

.start-date >input {
    min-width: 180px;
}

.coins >input {
    min-width: 180px;
}